<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<style>
  body{
    background: url(https://c0.wallpaperflare.com/preview/164/284/969/germany-freiburg-im-breisgau-sick-arena-time.jpg);
  }
</style>
<body class="">
  <div class="container">

<nav class="navbar navbar-expand-lg   p-3 rounded-3">
<a class="navbar-brand"  href=""><img  style="width: 80px;" src="../assets/icon/music.png" alt=""><span class="fw-bold fs-3 text-light" >TRACY <span class="text-danger" >MUSIC</span> </span></a>
<button class="navbar-toggler " data-bs-toggle="collapse" data-bs-target="#navbarItem"  ><span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse d-flex justify-content-end "id="#navbarItem">
  <ul class="nav navbar-nav ">
    <li class="nav-item fs-3 "><a href="" class="nav-link fw-bold text-light ">Casa</a></li>
    <li class="nav-item dropdown fs-3 "><a href="" class="nav-link dropdown-toggle fw-bold text-danger " data-bs-toggle="dropdown">
      Redes
    </a> <ul  class="dropdown-menu" >
      <li><a class="dropdown-item"  href="">Facebook</a></li>
      <li><a class="dropdown-item"  href="">Instagram</a></li>
      <li><a class="dropdown-item"  href="">Twiter</a></li>
      
    </ul></li>

  </ul>

</div>
</nav>

<main>
  <section class="rounded-3 p-5"   style="height: 300px;;">

<div class="row" >
  <div class="col-lg-6 col-sm-12 col-xs-12  " >
    <h1 class="text-center text-light fw-bold" >Buscar Musica</h1>
    <div class="d-flex justify-content-center" >
    <input class="form-control w-75" placeholder="Escribe el nombre del Artista" type="text" [(ngModel)]="validar" >
  
  </div>
  <div class="d-flex justify-content-center  mt-3">
    <button class="btn btn-primary w-50 "  (click)="aplicarSonido(validar)" >Buscar</button>
  
  </div>
  </div>
  <div  style=" background:linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)),url(https://c0.wallpaperflare.com/preview/164/284/969/germany-freiburg-im-breisgau-sick-arena-time.jpg);" class="col-lg-6  col-sm-12 col-xs-12 d-flex justify-content-center  p-3  rounded-3">
    <div>
      <ul *ngFor=" let musicas of musica" >
      <li style="list-style: none;"  class=" fw-bold fs-4  text-light " >{{musicas.nombre}} : {{musicas.genero}} </li>
    </ul>
    </div>
    

  </div>
  
</div>



  </section>
</main>




  
 
<router-outlet></router-outlet>
</div>

</body>
</html>
